/* container */
.container{
    top : 50%;
    left : 50%;
    width : 750px;
    height : 500px;
    margin : -250px 0 0 -375px;
    background-color: white;
    z-index: 1;
    box-shadow: 3px 3px 6px 6px #011B38;
    position : absolute;
}

/* index */
/* 아이콘, 링크색 */
.desc{
    margin-top : 30px;
}

.icon{
    font-size : 50px;
}

.info{
    height : 130px;
}

#myinfo > p, #project > p{
    margin-right : 10px;
    font-size : large;
}

#skill > p{
    font-size : large;
}