.container{
  top : 50%;
  left : 50%;
  width : 750px;
  height : 500px;
  margin : -250px 0 0 -375px;
  background-color: white;
  z-index: 1;
  box-shadow: 3px 3px 6px 6px #011B38;
  position : absolute;
  overflow-x:hidden;
  overflow-y: scroll;
}

/* project img 크기 */
.png{
    width : 80px;
    height : auto;
}

.nomargin{
    margin : 0;
    font-size : 17px;
}

.project{
    position : absolute;
    top : 15%;
    left : 1%;
    right : 1%;
}

/* 라벨색 */
.grape{
    background-color : #7B1FA2;
}

/* Teck */
.Teck{
  font-size : 17px;
  margin : 0 0 10px 0;
}

/* 라벨 폰트 크기 */
.label{
  font-size : 15px;
  margin-bottom : 10px;
}

.col-md-12{
  margin-bottom : 10px;
}

.nopadding{
  padding : 0;
}